.topnav {
  display: flex;
  min-height: 52px;
  align-items: center;
  justify-content: space-between;
  background-color: #333;
}

.nav-links {
  display: flex;
  align-self: stretch;
}

.nav-links a {
  display: flex;
  align-items: center;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  font-family: Verdana, sans-serif;
}

.nav-links a:hover {
  background-color: #ddd;
  color: black;
}

.nav-links a.active {
  background-color: #330f04;
  color: white;
}
